@import "variables";

/*HEADER*/
header {
  #header_top {
    @extend .whitespace;
    width: 100%;
    padding-top: 10px;

    #logo {
      vertical-align: top;
      @extend .spansmall1, .spanmedium2, .spanlarge2;
      padding: 1%;
    }
    h1 {
      vertical-align: top;
      @extend .offsetmedium3, .offsetlarge6;
      @extend .spansmall4, .spanmedium2, .spanlarge2;
      &:first-child {
        text-align: center;
        font-size: 3rem;
      }
      font-family: "Canter", "Arial", sans-serif;
      color: white;
    }

    #connexion {
      @extend .whitespace;
      @extend .offsetmedium2, .offsetlarge4;
      @extend .spanmedium3, .spanlarge4;
      text-align: right;
      input {
        text-align: center;
      }
      //afficher ou masquer selon mobile ou pas
      display: none;
      @media screen and (min-width: $tablette) {
        display: inline-block;
      }
      #form_connexion {
        width: 100%;
        input {
          width: 85%;

        }
      }

      #btn_connexion {
        @extend .btn, .btnFlat;
        margin-right: 0;
        width: 25%;
        font-size: 1rem;
      }

      div {
        width: 55%;
        display: inline-block;
        margin: 0;
        text-align: left;

        a {
          font-size: 0.9rem;
          margin-right: 0.5rem;
        }

      }
    }
  }

  @extend .whitespace;
  width: 100%;
  background-color: $orange;

  a, a:visited {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: $gray;
  }

  #navbar_mobile {
    @extend .whitespace;
    @media screen and (min-width: $tablette) {
      display: none;
    }

    div {
      @extend .spansmall1;
      text-align: center;
    }

    img {
      @extend .spansmall3;
      vertical-align: bottom;
    }

  }

  nav#navbar_mobile {
    margin-top: .7rem;
    vertical-align: bottom;
    padding-bottom: .2rem;
  }

  #navbar_desktop {

    display: none;
    padding-bottom: 10px;
    width: 100%;
    @extend .whitespace;
    ul {
      @extend .spanmedium9, .spanlarge10;
      li {
        margin-left: 0;
        font-size: 1.1rem;
        padding-right: 1rem;
        @media screen and (min-width: $desktop) {
          font-size: 1rem;
        }
        display: inline-block;
      }
    }
    @media screen and (min-width: $tablette) {
      display: inline-block;
      width: 100%;
    }
  }

  .navbar_form_recherche_rapide {
    @extend .offsetsmall1, .offsetlarge4;
    @extend .spansmall3, .spanmedium3, .spanlarge4;
    text-align: right;
    margin-right: 0;
    input {
      width: 85%;
      height: 30px;
      margin-right: 0;
      text-align: center;

      @media screen and (min-width: $tablette) {
        height: auto;
      }
    }
  }
}

/*ALL*/
.contenu {
  @extend .whitespace;
  h1 {
    @extend .spansmall6, .spanmedium12, .spanlarge18;
    text-align: center;
    padding: .3rem;
    border-bottom: 1px $orange solid;
    font-weight: bolder;
    //margin-bottom: .3rem;
  }
}

a {
  color: $gray;
  text-decoration: none;
}

.breadcrumb {
  display: none;
  @extend .spanmedium12, .spanlarge18;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/*CATEGORIE*/
.categorie {
  @extend .whitespace;
  @extend .spansmall6, .spanmedium6, .spanlarge6;
  border: solid 1px $darkgray;

  img {
    display: none;
    @extend .spansmall1, .spanmedium2, .spanlarge4, .offsetlarge7;
    height: auto;
    vertical-align: middle;
    @media screen and (max-width: $tablette) {
      &:first-child {
        margin: 5px;
      }
    }
  }

  h4 {
    @extend .spansmall4, .spanmedium10, .spanlarge18;
    text-align: center;
    @media screen and (min-width: $desktop) {
      border-top: $lightBorderUnderDiv;
      background-color: transparentize($orange, .2);
      @include box-sizing(border-box);
      color: white;
      margin: 0;
      padding: .3rem;
      &:hover {
        background-color: $orange;
      }
      &:first-child {
        //margin: 0;
      }
    }
  }
}

//debug marges
div.categorie {
  margin-bottom: 1%;
  margin-top: 1%;
  h4 {
    @media screen and (min-width: $desktop) {
      width: 100%;
      margin: 0;
    }
  }
}

/*RECHERCHE ANNONCE*/
//FORMULAIRE
.recherche {
  @extend .whitespace;
  @extend .spansmall6, .spanmedium12, .spanlarge6;
  vertical-align: top;
  background-color: transparentize($gray, .9);
  @include box-sizing(border-box);
  padding: .3rem;
  @media screen and (min-width: $desktop) {
    height: 100%;
  }

  label {
    display: none;
    @extend .spanlarge18;
    // padding-bottom: .3rem;
    padding-top: .5rem;
  }

  #motscles, #cat {
    @extend .spansmall6, .spanmedium6, .spanlarge18;

    &:active, &:focus {
      border: 1px solid $orange;
    }
  }
  #dept, #ville {
    @extend .spansmall6, .spanmedium3, .spanlarge18;
    &:active, &:focus {
      border: 1px solid $orange;
    }
  }

  input#motscles, select#cat, select#dept, input#ville {
    margin-top: .3rem;
    margin-bottom: .3rem;
    @media screen and (max-width: $tablette) {
      height: 3rem;
    }
  }

  #form_recherche_avancee {
    @extend .whitespace;

    button {
      @extend .spansmall1, .spanmedium2, .spanlarge18;
      @extend .btn, .btnOrange, .btnFlat;
      background-image: url("../images/recherche_blanc.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      padding: .7rem;
      @media screen and (max-width: $tablette) {
        height: 3rem;
      }
      @include box-sizing(border-box);
      vertical-align: middle;

      &:hover {
        @extend .btnOrange:hover;
        background-image: url("../images/recherche_orange.png");

      }

      &:active {
        @extend .btn:active, .btnOrange:active, .btnFlat:active;
      }
    }
    @media screen and (min-width: $desktop) {
      button#recherche_bouton {
        margin-top: .5rem;
        margin-bottom: .2rem;
      }
    }

    fieldset {
      @extend .whitespace;
      @extend .spansmall5, .spanmedium4, .spanlarge18;
      @include box-sizing(border-box);
      margin: 0;

      label {
        @extend .spansmall1, .spanmedium2, .spanlarge3;
        text-align: center;
        vertical-align: middle;
        padding: 0;

        &:first-of-type {
          text-align: left;
          vertical-align: middle;
        }
      }

      .input_prix {
        @extend .spansmall2, .spanmedium4, .spanlarge6;
        vertical-align: middle;

        &:active, &:focus {
          border: 1px solid $orange;
        }
      }
      input.input_prix {
        @media screen and (max-width: $tablette) {
          height: 3rem;
        }
        @media screen and (min-width: $desktop) {

          margin-top: .2rem;
        }
      }
    }
  }

  select {
    @extend .spansmall6, .spanmedium6, .spanlarge18;
    font-family: "DIN", "Arial", sans-serif;

    &:last-of-type {
      @extend .spanmedium3, .spanlarge18;

    }
  }
}

//RESULTAT DE LA RECHERCHE
.resultat_recherche {
  @extend .whitespace;
  @extend .spansmall6, .spanmedium12, .spanlarge12;

  div.tri {
    @extend .whitespace;
    padding-top: .4rem;
    padding-bottom: .2rem;

    @extend .spansmall6, .spanmedium12, .spanlarge18;
    p:first-of-type {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

}

.annonce {
  @extend .whitespace;
  border: 1px solid $darkgray;
  height: auto;
  @extend .spansmall6, .spanmedium6, .spanlarge9;
  @include box-sizing(border-box);
  padding: .3rem;

  p {
    margin-bottom: 0;
  }

  .text_annonce {
    @extend .whitespace;

    @extend .spansmall4, .spanmedium8, .spanlarge14;
    vertical-align: middle;
  }

  h2 {
    @extend .spansmall6, .spanmedium12, .spanlarge18;
    @include box-sizing(border-box);
    border-bottom: 1px solid $orange;
  }

  .date {
    @extend .whitespace;
    @extend .spansmall3, .spanmedium12, .spanlarge18;
    padding: .3rem;
    @include box-sizing(border-box);
  }

  .prix {
    @extend .whitespace;
    @extend .spansmall2, .spanmedium6, .spanlarge9;
    padding: .3rem;
    @include box-sizing(border-box);
  }

  .dept {
    @extend .whitespace;
    @extend .spansmall1, .spanmedium6, .spanlarge9;
    padding: .3rem;
    @include box-sizing(border-box);
  }

  p {
    @extend .spanmedium6, .spanlarge10;
    //vertical-align: top;

    &:nth-of-type(2n+1) {
      display: none;
      @extend .spanmedium6, .spanlarge8;
    }
  }

  img {
    @extend .spansmall2, .spanmedium4, .spanlarge4;
    height: auto;
    vertical-align: middle;
  }
}

//debug marge
article.annonce {
  margin-bottom: .3rem;
  margin-top: .3rem;
}

/*ANNONCE*/
.lien_image {
  @extend .spansmall2, .spanmedium3;
  img {
    width: auto;
    height: auto;
  }

  &:first-of-type {
    @extend .spanmedium9;
  }
}

.image {
  @extend .whitespace;
  @extend .spansmall6, .spanmedium12, .spanlarge9;
  vertical-align: top;
  float: left;
  img {
    @extend .spanmedium3, .spanlarge6;
    height: auto;
    display: none;
    float: left;

    &:first-of-type {
      @extend .spansmall6, .spanmedium9, .spanlarge18;
      vertical-align: top;
    }
  }
}

.desc_vendeur, .desc_date, .desc_prix, .desc_ville {
  @extend .spansmall3, .spanmedium6, .spanlarge9;
}

.desc_date, .desc_ville {
  text-align: right;
}

.desc_texte {
  @extend .spansmall6, .spanmedium12, .spanlarge18;
  text-align: justify;
}

div.contact_mail_bouton, div.contact_tel_bouton, div.modif_annonce, div.suppr_annonce {
  @extend .spansmall6, .spanmedium6, .spanlarge9;
  @extend .btn, .btnOrange, .btnFlat;
  a {
    color: white;
    line-height: 2.5rem;
  }
  text-align: center;

  &:hover {
    @extend .btnOrange:hover;
    a {
      color: $orange;
    }
  }

  &:active {
    @extend .btn:active, .btnOrange:active, .btnFlat:active;
    a {
      color: $orange;
    }
  }
}

//debug marges
h1.desc_titre, p.desc_date, p.desc_prix, p.desc_texte, p.desc_titre, p.desc_vendeur, p.desc_ville {
  margin-bottom: .3rem;
  margin-top: .3rem;
  padding: .3rem;
}

div.consulter_annonce_bouton {
  @extend .whitespace;
  @extend .spanlarge9;

  @media screen and (min-width: $desktop){
    margin-bottom: 20rem;
  }

  div.contact_mail_bouton, div.contact_tel_bouton, div.modif_annonce, div.suppr_annonce {
    margin-top: .3rem;
    margin-bottom: .3rem;

    @media screen and (max-width: $tablette) {
      height: 3rem;
    }
  }

}

div.description_annonce {
  @extend .whitespace;
  @extend .spanlarge9;
}

div.image {
  margin-bottom: .3rem;
  margin-top: .6rem;

  img {
    margin-bottom: .74rem;

    @media screen and (min-width: $desktop) {
      margin-top: .3rem;
      margin-bottom: .3rem;
    }
  }
}
/*AJOUTER UNE ANNONCE*/
#form_ajout_annonce {
  @extend .whitespace;

  select {
    @extend .spansmall6, .spanmedium12, .spanlarge5;
    &:active, &:focus {
      border: 1px solid $orange;
    }

    &:last-of-type {
      @extend .spansmall6, .spanmedium6, .spanlarge5;
      &:active, &:focus {
        border: 1px solid $orange;
      }
    }
  }

  label {
    display: none;
    @extend .spanlarge1;
  }

  #ville_textbox {
    @extend .spansmall3, .spanmedium6, .spanlarge3;
    &:active, &:focus {
      border: 1px solid $orange;
    }
  }

  #prix_textbox {
    @extend .spansmall3, .spanmedium2, .spanlarge3;
    &:active, &:focus {
      border: 1px solid $orange;
    }
  }

  #titre_textbox {
    @extend .spansmall6, .spanmedium10, .spanlarge17;
    &:active, &:focus {
      border: 1px solid $orange;
    }
  }

  #annonce_textbox {
    @extend .spansmall6, .spanmedium12, .spanlarge18;
    &:active, &:focus {
      border: 1px solid $orange;
    }
  }

  #vendeur {
    label {
      @extend .spanmedium2, .spanlarge2;
    }
  }
  #nom_textbox {
    @extend .spansmall6, .spanmedium10, .spanlarge7;
    &:active, &:focus {
      border: 1px solid $orange;
    }
  }
  #tel_textbox {
    @extend .spansmall6, .spanmedium10, .spanlarge7;
    &:active, &:focus {
      border: 1px solid $orange;
    }
  }
  #mail_textbox {
    @extend .spansmall6, .spanmedium10, .spanlarge7;
    &:active, &:focus {
      border: 1px solid $orange;
    }
  }

  .pwd_annonce_textbox {
    @extend .spansmall6, .spanmedium10, .spanlarge7;
    &:active, &:focus {
      border: 1px solid $orange;
    }
  }

  .form_ajout_images {
    @extend .whitespace;

    label {
      display: none;
      @extend .spanlarge3;
    }
    .input_add_image {
      @extend .spansmall2, .spanmedium4, .spanlarge5;

    }
  }

  //debug marges
  input#ville_textbox, input#prix_textbox, input#titre_textbox, input#nom_textbox, input#tel_textbox, input#mail_textbox, input.pwd_annonce_textbox, select#dept_select, select#cat_select, input.input_add_image {
    margin-bottom: .3rem;
    margin-top: .3rem;
    @media screen and (max-width: $tablette) {
      height: 3rem;
    }
  }

  div.form_ajout_images {
    margin-bottom: .3rem;
    margin-top: .3rem;
  }

  textarea#annonce_textbox {
    margin-bottom: .3rem;
    margin-top: .3rem;
    height: 7rem;
  }

  select#cat_select {
    margin-top: 1em;
  }

  .form_ajout_boutons {
    @extend .whitespace;

    #bouton_publier, #bouton_annuler, #bouton_previsualiser {
      @extend .spansmall2, .spanmedium4, .spanlarge3;
      @extend .btn, .btnOrange, .btnFlat;
      padding: .3rem;

      &:hover {
        @extend .btnOrange:hover;
      }

      &:active {
        @extend .btn:active, .btnOrange:active, .btnFlat:active;
      }
    }

    button#bouton_publier, button#bouton_annuler, button#bouton_previsualiser {
      margin-bottom: .3rem;
      margin-top: .3rem;
      @media screen and (max-width: $tablette) {
        height: 3rem;
      }
    }
  }
}

div#clear {
 //@include clearfix();
  clear: both;

}


/* FOOTER*/
footer {
  background-color: $orange;
}

/* GENERAL*/
html {
  height: 100%;
  background-image: url("../images/background.png");
}

body {
  position: relative;
  @media screen and (min-width: 1280px) {
    border-left: $orange solid 2px;
    border-right: $orange solid 2px;
  }
  padding-bottom: 5em;
  min-height: 100%;
  max-width: 1280px;
  margin: auto;
  background-color: white;
}

section.contenu {
  height: 100%;
  clear: both;
}

