@import "_variables";

.btn {
  border: transparent solid 1px;
  color: white;
  background-color: $gray;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px;
  font-weight: bold;
  font-family: $typo;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: $gray;
    border: $gray solid 1px;
  }
}

.btnOrange {
  background-color: $orange;
}

.btnOrange:hover {
  color: $orange;
  border: $orange solid 1px;
}


.btnRed {
  background-color: $red;
}

.btnRed:hover {
  color: $red;
  border: $red solid 1px;
}

.btnGreen {
  background-color: $green;
}

.btnGreen:hover {
  color: $green;
  border: $green solid 1px;
}

.btnBlue {
  background-color: $blue;
}

.btnBlue:hover {
  color: $blue;
  border: $blue solid 1px;
}

.btnGreen:active,
.btnBlue:active,
.btnOrange:active,
.btn:active,
.btnRed:active {
  /*border:transparent solid 1px;*/
  -webkit-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
}

.btnSmall {
  font-weight: normal;
  font-size: $btnSmallFontSize;
  padding: 2px 5px;
}

.btnLarge {
  font-weight: bolder;
  font-size: $btnLargeFontSize;
  padding: 10px 15px;
}

.btnFlat {
  font-weight: lighter;
  font-size: $btnFlatFontSize;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btnFlat:active {
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btnXtra {
  padding: 1rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.btnFancy {
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 2px 2px 1px 0px #656565;
  -webkit-box-shadow: 2px 2px 1px 0px #656565;
  -o-box-shadow: 2px 2px 1px 0px #656565;
  box-shadow: 2px 2px 1px 0px #656565;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}




