@import "_variables";

/*
GENERAL
*/

body {
  font-family: $typo;
}

p {
  margin-bottom: 1rem;
}

/*
LES TITRES
*/

h1 {
  font-size: $h1size;
  &.sub {
    font-size: 0.8*$h1size;
  }
}

h2 {
  font-size: $h2size;
  &.sub {
    font-size: 0.8*$h2size;
  }
}

h3 {
  font-size: $h3size;
  &.sub {
    font-size: 0.8*$h3size;
  }
}

h4 {
  font-size: $h4size;
  &.sub {
    font-size: 0.8*$h4size;
  }
}

h5 {
  font-size: $h5size;
  &.sub {
    font-size: 0.8*$h5size;
  }
}

h6 {
  font-size: $h6size;
  &.sub {
    font-size: 0.8*$h6size;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;

  & > small {
    color: $darkgray;
    font-size: 0.8em;
    font-weight: lighter;
  }

  &.sub {
    color: $darkgray;
    font-weight: normal;
  }
}

/*
INLINE
*/

strong {
  font-weight: bold;
}

u {
  text-decoration: none;
  border-bottom: 1px red dotted;
}

em {
  font-style: italic;
}

/*
QUOTE & BLOCKQUOTE
*/

blockquote {
  background: $lightergray;
  font-family: cursive;
  border-left: 10px solid $lightgray;
  margin: 10px 10px 30px;
  padding: 10px;
  max-width: 80%;

  &:before {
    color: $lightgray;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  &:after {
    color: $lightgray;
    content: "\201D";
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.7em;
  }

  p {
    display: inline;
  }
}

code {
  border-left: 10px solid $gray;
  display: block;
  font-family: monospace;
  color: $lightergray;
  background-color: black;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 90%;
  font-size: 0.8rem;

  @media screen and (min-width: $tablette) {
    max-width: 800px;
    font-size: 1rem;
  }

  p {
    line-height: 0.2em;
  }
}



pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 10px 10px 20px;
}

kbd {
  border-left: 10px solid $lightgray;
  display: block;
  font-family: monospace;
  background-color: $lightergray;
  margin: 10px 10px 20px;
  padding: 10px;
  max-width: 80%;

  p {
    line-height: 0.2em;
  }
}

/*
LES LISTES
*/

li {
  list-style-type: disc;
  margin-left: 2em;
}

.ulsquare li {
  list-style-type: square;
}

.ulnostyle li {
  list-style-type: none;
}

/*
Alignements et transformations
*/

.alleft {
  text-align: left;
}

.alright {
  text-align: right;
}

.alcenter {
  text-align: center;
}

.aljustified {
  text-align: justify;
}

.smallcaps {
  font-variant: small-caps;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/*
TABLES ET TABLEAUX
*/

table {
  width: 100%;
  margin: 1em auto 2em;
  text-align: center;
  display: table;
  max-width: 400px;

  th {
    font-variant: small-caps;
  }
}

table,
th,
td {
  padding: 0.5em 1em 0.5em 1em;
}

/*Tableau bordures*/

.tableborder,
.tableborder th,
.tableborder td {
  border: 1px solid $gray;
}

/*Tableau ligne alternees*/

.tablealterne tr:nth-child(even) {
  background-color: white;
  /*blanc*/
}

.tablealterne tr:nth-child(odd) {
  background-color: $lightgray;
  /*gris*/
}

.tablealterne th {
  background-color: $gray;
  color: white;
}

/*tableau avec survol*/

.tablehover tr:not(th) {
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
}

.tablehover tr:hover:not(th) {
  background-color: $gray;
  color: white;
}

a {
  color:$blue;

  &:visited {
  }

  &:hover {
    color: $darkgray;
  }

  &.disabled {
    color: $lightergray;
    &:hover {
      cursor: not-allowed;
    }
  }

  &.active {
    color: black;
    text-decoration: none;
    cursor: default;
  }
}