@font-face {
  font-family: "Canter";
  src: url('Canter%20Bold%203D.otf');
}

@font-face {
  font-family: "DIN";
  src: url('DIN.TTF');
}

@import "grid_builder";

$lightergray: #f9f9f9;
$lightgray: #dcdcdc;
$gray: #666666;
$darkgray: #333333;
$blue: #4ea6ca;
$transparentblue: rgba(78, 166, 202, 0.8);
$red: #CA3C3C;
$green: #1CB841;
$orange: #EE8400;

$lightBorderUnderDiv: 3px $lightgray solid;
$darkBorderUnderDiv: 3px $gray solid;

$btnSmallFontSize: 80%;

$btnLargeFontSize: 130%;

$btnFlatFontSize: 110%;

$size: 1rem;
$h1size: 1.7rem;
$h2size: 1.5rem;
$h3size: 1.3rem;
$h4size: 1.1rem;
$h5size: 1.0rem;
$h6size: 0.9rem;
$typo: 'DIN', 'Arial', sans-serif;

$navbarmargin: 4%;
$navbarheight: 30px;

$default_totalwidth: 100%;
$default_colNb: 8;
$default_marginW: 1%;
$default_colNbsmall: 6;
$default_colNbMedium: 12;
$default_colNbLarge: 18;


$desktop: 60em;
$tablette: 40em;
