@import "_reset";
@import "_variables";
@import "_typos";
@import "_buttons";
@import "_composants";
@import "_adapter";


@include grid_build($default_totalwidth, $default_colNbsmall, $default_colNbMedium, $default_colNbLarge, $default_marginW);

.whitespace {
  font-size: 0;
  p {
    font-size: 1rem;
  }

}
